<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>You're Invited to Join as a Operator on Dimitra</title>
    <style>
     
    </style>
  </head>

  <body>
    <div
  style="
    font-family: arial, helvetica neue, helvetica, sans-serif;
    background-color: #f1f4f7;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  "
>
  <table>
    <tr>
      <td>
        <div
          style="
            margin: 60px auto 0 auto;
            padding: 40px 80px;
            background-color: white;
            width: 80%;
            border-radius: 24px;
            font-size: 18px;
            min-width: 400px;
            max-width: 768px;
          "
        >
        <img src="https://dimitra-admin-panel-fe-prod-public.s3.amazonaws.com/dimitra-logo.png" alt="Logo" style="
          width: 20%; 
          min-width: 100px; 
          height: auto
        ">
          <p style="line-height: 1.8em">Hi {{ fullName }},</p>
          <p style="line-height: 1.2em">
            You have been added as a new operator on the Dimitra platform for due diligence reporting by one of our Suppliers from {{orgName}}. The Dimitra platform facilitates the exchange of due diligence information between operators and suppliers to ensure compliance and transparency.
          </p>
          <p style="line-height: 1.2em">
            Click on the following link to sign up and create your operator account:
              <a
              href="{{signUpLink}}"
              style="text-decoration: none"
              >Sign Up</a
            >
          </p>
          <p style="line-height: 1.2em">
           If you have any questions or need assistance, feel free to reach out to our support team at {{ supportEmailAddress }}. We're here to help you make the most out of Dimitra.
          </p>
            
            <p style="line-height: 1.2em">
          We look forward to having you join our community of farmers and livestock managers!
          </p>
         
          <p style="line-height: 1.2em">
            Best regards,<br />
            <b>The DIMITRA Team</b>
          </p>
          <br />
          <p style="text-align: center; line-height: 1.8em">
            Need Help? Visit the<br />
            <a href="https://dimitra.io/" style="text-decoration: none"
              >Help Center</a
            >
            or
            <a
              href="https://dimitra.io/contact-us/"
              style="text-decoration: none"
              >Contact Us</a
            >
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding: 40px 0">
        <p style="line-height: 1.8em; text-align: center">
          Please do not reply to this <a href="https://dimitra.io/" style="text-decoration: none"
            >www.dimitra.io</as email<br />
          <a href="https://dimitra.io/" style="text-decoration: none"
            >www.dimitra.io</a
          ><br />
          View our
          <a
            href="https://dimitra.io/privacy-policy-2/"
            style="text-decoration: none"
            >privacy policy</a
          >
        </p>
      </td>
    </tr>
  </table>
</div>

  </body>
</html>
